.brands-section {
    width: 100%;
    height: 10vh;
}

.brands-section__brands-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brands-section__brands-list li {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 5vh;
}

.brands-section__brands-list img {
    width: 8rem;
}
