.credibility-section {
    width: 90%;
    margin: auto;
    margin-bottom: 5rem;
}

.credibility-section__points-list {
    margin-top: 7rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.credibility-section__points-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin: auto;
}

.credibility-section__points-list img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 5rem;
}

.credibility-section__points-list h2 {
    font-family: 'Gotham-Bold';
    margin-bottom: 2rem;
    text-align: left;
    font-size: 1.25rem;
}

@media only screen and (max-width: 850px) {
    .credibility-section__points-list {
        flex-direction: column;
    }

    .credibility-section__points-list li {
        width: 80%;
        margin-bottom: 5rem;
        text-align: center;
    }

    .credibility-section__points-list h2 {
        text-align: center;
    }
}
