.how-section {
    width: 90%;
    margin: auto;
    margin-bottom: 5rem;
}

.how-section__points-list {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 7rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.how-section__image {
    margin: 0;
    width: 100%;
}

.how-section__image > img {
    width: 100%;
    height: 100%;
}

.how-section__list-information {
    width: 70%;
    margin-left: 5rem;
}

.how-info2 {
    margin-right: 5rem;
    margin-left: 0rem;
}

.list-information__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.list-information__header img {
    margin-right: 1rem;
    width: 2.25rem;
    height: 2.25rem;
}

.list-information__header h2 {
    font-family: 'Gotham-Bold';
    font-weight: 500;
    font-size: 20px;
}

@media only screen and (max-width: 850px) {
    .how-section__points-list {
        flex-direction: column;
        margin: 0;
    }

    .how-section__points-list h2 {
        text-align: left;
    }
}