.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a,
.nav-links li div > button,
.nav-links .heading {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    color: white;
}

.nav-links li a:hover,
.nav-links li div > button:hover,
.nav-links__drawer-dropdown-list > li > a > div > p:hover,
.nav-links li div > button:focus {
    background: #ffffff;
    border-color: #292929;
    color: #292929;
    border-radius: 5px;
    transition: all 0.35s ease;
    cursor: pointer;
    border: 1px solid #292929;
    color: #292929;
    background: transparent;
    padding: 0.5rem;
    font: inherit;
}

.nav-links__drawer-dropdown-list {
    margin-top: 1.5rem;
}

.nav-links__drawer-dropdown-list > li {
    margin-bottom: 0.5rem;
    margin-left: 0;
}

.nav-links__dropdown-btn {
    background: transparent;
    padding: 0.6rem;
}

.nav-links__dropdown-btn:hover {
    background: transparent;
}

.nav-links__dropdown-btn:active {
    background: transparent;
}

.nav-links__dropdown-item {
    padding: 0;
}

.nav-links__dropdown-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}

.nav-links__dropdown-header img {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 0.75rem;
}

.nav-links__dropdown-header a {
    margin-top: auto;
    margin-bottom: auto;
    width: 11rem;
    letter-spacing: 1px;
}

.nav-links__cta > a > p {
    font-size: 15px;
}

.nav-links__cta > a {
    padding: 0.5rem 1.45rem;
}

@media screen and (max-width: 850px) {
    .nav-links > li {
        display: block;
        margin-bottom: 1.5rem;
        border-color: var(--color-dominant);
        border-width: 1rem;
        width: 60%;
    }

    .nav-links {
        flex-direction: column;
    }

    .nav-links__cta {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
/* .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    margin: 1rem;
}

.nav-links a {
    border: 1px solid transparent;
    color: #292929;
    text-decoration: none;
    padding: 0.5rem;
    color: white;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
    background: #ffffff;
    border-color: #292929;
    color: #292929;
    border-radius: 5px;
    transition: all 0.35s ease;
}

.nav-links button {
    cursor: pointer;
    border: 1px solid #292929;
    color: #292929;
    background: transparent;
    padding: 0.5rem;
    font: inherit;
}

.nav-links button:focus {
    outline: none;
}

.nav-links button:hover,
.nav-links button:active {
    background: #292929;
    color: white;
    transition: all 0.35s ease;
}

@media (min-width: 768px) {
    .nav-links {
        flex-direction: row;
    }

    .nav-links li {
        margin: 0 0.5rem;
    }

    .nav-links a {
        color: white;
        text-decoration: none;
    }

    .nav-links button {
        border: 1px solid white;
        color: white;
        background: transparent;
    }
} */
